<% is_current_user = (current_user == @user) ? true : false %>
<% curr_user_headings = ["Goal", "Status", "Public?", "Created", "Details" ] %>
<% other_user_headings = ["Goal", "Status", "Created", "Details"] %>
<h1><%= is_current_user ? "Your" : @user.username + "'s" %> Goals</h1>

<%= render "shared/notices", notices: flash[:success], type: "success" %>

<table id="goals_table">
   <thead>
      <tr>
         <% (current_user ? curr_user_headings : other_user_headings)
            .each do |heading| %>
               <th><%= heading %></th>
            <% end %>
      </tr>
   </thead>
   <tbody>
      <% @sorted_goals.each do |goal| %>
         <% if is_current_user %>
            <tr id="<%= "g-#{goal.id}" %>">
               <td>
                  <%= goal.title %>
               </td>   
               <td>
                  <%= goal.status %>
               </td>
               <td>
                  <%= "&#10004;".html_safe if goal.public %>
               </td>
               <td>
                  <%= goal.created_at %>
               </td>   
               <td>
                  <%= goal.details %>
               </td>
               <td>
                  <%= button_to "Update", edit_goal_url(goal), method: "get" %>
               </td>
               <td>
                  <%= button_to "Delete", goal_url(goal), method: "delete" %>
               </td>
            </tr>
         <% elsif goal.public %>
            <tr id="<%= "g-#{goal.id}" %>">
               <td>
                  <%= goal.title %>
               </td>   
               <td>
                  <%= goal.status %>
               </td>
               <td>
                  <%= goal.created_at %>
               </td>   
               <td>
                  <%= goal.details %>
               </td>
               <td>
                  <% upvote = goal.get_up_vote(current_user) %>
                  <% if upvote %>
                     <%= button_to("&#11015;".html_safe, 
                        up_vote_url(upvote),
                        method: :delete,
                        id: "dv-#{goal.id}") %>
                  <% elsif current_user.has_up_votes_remaining? %>
                     <%= render "up_votes/form", goal: goal %>
                  <% end %>
               </td>
            </tr>
         <% end %>
      <% end %>
   </tbody>
</table>

<%= render "comments/comments", comments: @user.sorted_authored_comments %>
<%= render "comments/form", type: "User", target_id: @user.id %>