<% is_current_user = (current_user == @user) ? true : false %>
<% curr_user_headings = ["Goal", "Status", "Public?", "Upvotes", "Created", "Details"] %>
<% other_user_headings = ["Goal", "Status", "Upvotes", "Created", "Details"] %>
<section class="user-header l-panel top">
   <% if is_current_user %>
   <h1>Your Goals</h1>
   <p>
      <%= link_to ("Add a new goal " + 
            ApplicationHelper::ACTION_ICONS["new_goal"]).html_safe, 
            new_user_goal_url(current_user), 
            class: "new-goal" %>
   </p>
   <% else %>
   <h1><%= @user.username %>'s Goals</h1>
   <p><%= link_to "jump to comments", user_url(@user)+"#comments" %></p>
   <% end %>
</section>

<%= render "shared/notices", notices: flash[:success], type: "success" %>
<% goals = is_current_user ? @user.goals.with_up_votes_count.with_comments_count :
   @user.goals.with_up_votes_count.with_comments_count.set_public %>
<%= render  "goals/user_show_goals", 
      goals: goals,
      is_current_user: is_current_user %>

<%= render "comments/comments", target: @user %>