<% is_current_user = (current_user == @user) ? true : false %>
<% curr_user_headings = ["Goal", "Status", "public", "Created", "Details" ] %>
<% other_user_headings = ["Goal", "Status", "Created", "Details"] %>
<h1><%= is_current_user ? "Your" : @user.username + "'s" %> Goals</h1>

<table>
   <thead>
      <tr>
         <% (current_user ? curr_user_headings : other_user_headings)
            .each do |heading| %>
               <th><%= heading %></th>
            <% end %>
      </tr>
   </thead>
   <tbody>
      <% @sorted_goals.each do |goal| %>
         <% if is_current_user %>
            <tr name="<%= goal.id %>">
               <td>
                  <%= goal.title %>
               </td>   
               <td>
                  <%= goal.status %>
               </td>
               <td>
                  <%= "&#10004;".html_safe if goal.public %>
               </td>
               <td>
                  <%= goal.created_at %>
               </td>   
               <td>
                  <%= goal.details %>
               </td>
               <td>
                  <%= button_to "Update", edit_goal_url(goal), method: "get" %>
               </td>
               <td>
                  <%= button_to "Delete", goal_url(goal), method: "delete" %>
               </td>
            </tr>
         <% elsif goal.public %>
            <tr name="<%= goal.id %>">
               <td>
                  <%= goal.title %>
               </td>   
               <td>
                  <%= goal.status %>
               </td>
               <td>
                  <%= goal.created_at %>
               </td>   
               <td>
                  <%= goal.details %>
               </td>   
            </tr>
         <% end %>
      <% end %>
   </tbody>

</table>