<form 
   action="<%= goal.persisted? ? goal_url(goal) : goals_url %>" 
   method="post"
   class="goal-form"
   >
   <%= auth_token %>
   <% if goal.persisted? %>
      <input type="hidden" name="_method" value="patch">
   <% end %>
   <label for="goal_title">Title:<input id="goal_title"
      name="goal[title]"
      value="<%= goal.title %>"
      type="text"><!--
--></label>

   <fieldset>
      <legend>Status:</legend>
      <div class="goal-status">
         <% Goal::STATUSES.each_with_index do |status, i| %>
            <label for="<%= "goal_status_#{i}" %>" ><!--
            --><input
                  id="<%= "goal_status_#{i}" %>"
                  name="goal[status]"
                  value="<%= status %>"
                  type="radio" <%= "checked" if status == goal.status %>><!--
            --><%= status %><!--
         --></label>
         <% end  %>
      </div>
   </fieldset>
   <input type="hidden" name="goal[public]" value="false">
   <label for="goal_public" class="public-tick">Public Goal?<input id="goal_public"
         name="goal[public]"
         value="true"
         type="checkbox"
         <%= "checked" if goal.public %>>
      </label><!--
   --><label for="goal_details" class="details-box">Details:<!--
   --><textarea 
            id="goal_details" 
            name="goal[details]"
            rows="3"
            cols="20"
            ><%= goal.details %></textarea><!--
   --></label>

   <input type="submit" value="<%= goal.persisted? ? "Save!" : "Set!" %>">
</form>