<!DOCTYPE html>
<html>
  <head>
    <title>Resolute</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="user_controls">
      <nav>
        <ul>
          <li><%= link_to "Home", root_url %></li>
          <li><%= link_to "Browse Goals", goals_url %></li>
          <li><%= link_to "Browse Users", users_url %></li>
          <% if is_logged_in? %>
          <li><%= link_to "Your Profile", user_url(current_user) %></li>
          <li>
              <%= link_to "Manage Account", user_sessions_url(current_user) %>
          </li>
          <% end %>
        </ul>
      </nav>

      <% if is_logged_in? %>
        <h4><%= link_to current_user.username, user_url(current_user) %></h4>
        <h4><%= "#{current_user.up_votes_left} upvotes remaining" %></h4>
        <%= button_to "Logout", session_url(current_session), method: :delete, class: "logout" %>
      <% else %>
        <%= button_to "Register", new_user_url, method: :get, class: "sign-up"%>
        <%= button_to "Login", new_session_url, method: :get, class: "login"%>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
