<!DOCTYPE html>
<html>
  <head>
    <title>Resolute</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/c08ce6939b.js" crossorigin="anonymous">
    </script>
  </head>

  <body>
    <header class="site-header-bar">
      <nav class="clearfix">
        <h6 class="logo">
          <a href="<%= root_url %>">
            <i class="fas fa-check-square"></i> <!-- tick icon -->
            <!-- tag layout to prevent automatic spaces between letters -->
            <strong>r<em
            >e</em></strong
            ><strong>s<em
            >o</em></strong
            ><strong>l<em
            >u</em></strong
            ><strong>t<em
            >e</em></strong>
          </a>
        </h6>
        <ul class="main-links">
          <li><%= link_to "Browse Goals", goals_url %></li>
          <li><%= link_to "Browse Users", users_url %></li>
        </ul>
  
        <ul class="user-info">
          <% if is_logged_in? %>
          <li class="dash-upvotes">
            uv-icon<%= current_user.up_votes_left %>
          </li>
          <li class="notifications-hover">
            <span class="notification-icon">n-icon </span><!--
         --><span class="notification-count"><!--
         --><%= notification_count %></span>
            <%= render "notifications/menu" if current_user.notifications %>
          </li>
          <li class="user-hover">
            <%= link_to current_user.username, user_url(current_user) %>
            <ul class="user-menu">
              <li class="menu-upvotes">
                <%= "#{current_user.up_votes_left} upvotes remaining" %>
              </li>
              <li>
                <%= link_to "Your Profile", user_url(current_user) %>
              </li>
              <li>
                  <%= link_to "Manage Account", user_sessions_url(current_user) %>
              </li>
              <li>
                <%= link_to "Logout", session_url(current_session), method: :delete, class: "logout" %>
              </li>
            </ul>
          </li>
          <% else %>
          <li class="new-user-links">
            <%= link_to "Register", new_user_url, method: :get, class: "sign-up"%>
          </li>
          <li class="new-user-links">
            <%= link_to "Login", new_session_url, method: :get, class: "login"%>
          </li>
          <% end %>
          <li class="hamburger">
            <svg viewBox="0 0 80 50" width="40" height="25">
              <rect width="80" height="11" rx="2"></rect>
              <rect y="19" width="80" height="11" rx="2"></rect>
              <rect y="38" width="80" height="11" rx="2"></rect>
            </svg>
            <ul class="full-menu">
              <% if is_logged_in? %>
              <li class="menu-upvotes">
                <%= "#{current_user.up_votes_left} upvotes remaining" %>
              </li>
              <% end %>
              <li><%= link_to "Browse Goals", goals_url %></li>
              <li><%= link_to "Browse Users", users_url %></li>
              <% if is_logged_in? %>
              <li><%= link_to "Your Profile", user_url(current_user) %></li>
              <li>
                  <%= link_to "Manage Account", user_sessions_url(current_user) %>
              </li>
              <li>
                <%= link_to "Logout", session_url(current_session), method: :delete, class: "logout" %>
              </li>
              <% else %>
              <li><%= link_to "Register", new_user_url, method: :get, class: "sign-up"%></li>
              <li><%= link_to "Login", new_session_url, method: :get, class: "login"%></li>
              <% end %>
            </ul>
          </li>
        </ul>      
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
