<!DOCTYPE html>
<html>
  <head>
    <title>Resolute</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if is_logged_in? %>
        <h4><%= current_user.username %></h4>
        <%= button_to "Logout", session_url, method: :delete, class: "logout"  %>
      <% else %>
        <%= button_to "Register", new_user_url, method: :get, class: "sign-up"%>
        <%= button_to "Login", new_session_url, method: :get, class: "login"%>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
